$cls-bright-orange: hsl(31, 77%, 52%);
$cls-dark-cyan: hsl(184, 100%, 22%);
$cls-very-dark-cyan: hsl(179, 100%, 13%);
$cls-transparent-white: hsla(0, 0%, 100%, 0.75);
$cls-very-light-gray: hsl(0, 0%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  height: 100vh;
}

.Big-Shoulders {
  font-family: 'Big Shoulders Display', cursive;
}

.Lexend-Deca {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  padding: 50px 0;
  height: 100%;
}

.main-item {
  height: 80%;
  margin: 0 auto;
  width: 80%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  img {
    width: 64px;
  }
  
  h1 {
    color: $cls-very-light-gray;
    text-transform: uppercase;
  }

  p {
    color: $cls-transparent-white;
    line-height: 2;
  }

  a {
    border: 2px solid $cls-very-light-gray;
    border-radius: 100vmax;
    text-align: center;
    width: fit-content;
    padding: .8rem 2rem;
    background: $cls-very-light-gray;
    text-decoration: none;
  }
}

.main-item:first-child {
  border-radius: 10px 10px 0 0;
  background: $cls-bright-orange;

  a{
    color: $cls-bright-orange;
  
    &:hover {
      background: transparent;
      color: $cls-very-light-gray;
    }
  }
}

.main-item:nth-child(2) {
  background: $cls-dark-cyan;

  a{
    color: $cls-dark-cyan;
  
    &:hover {
      background: transparent;
      color: $cls-very-light-gray;
    }
  }
}

.main-item:last-child {
  border-radius: 0 0 10px 10px;
  background: $cls-very-dark-cyan;

  a{
    color: $cls-very-dark-cyan;
  
    &:hover {
      background: transparent;
      color: $cls-very-light-gray;
    }
  }
}

.item-block-p {
  height: 100%;
  align-self: flex-start;
}

@media screen and (min-width: 1270px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-item {
    margin: 0;
    width: 20%;
    padding: 0 25px;
  }

  .main-item:first-child {
    border-radius: 10px 0 0 10px;
  }

  .main-item:last-child {
    border-radius: 0 10px 10px 0;
  }
}